Origin: XBian
Package: xbian-package-initramfs-tools
Version: 1.0-1
Section: kernel
Essential: Yes
Priority: standard
Architecture: armhf
Pre-Depends: initramfs-tools, triggerhappy
Depends: busybox, udev, btrfs-tools (>=1.0-xbian), klibc-utils
Breaks: xbian-package-kernel (<<1.3-3), xbian-package-splash (<<1.0-1)
Maintainer: mk01 <development@xbian.org>
Description: Initramfs handling tools.
