Origin: XBian
Package: xbian-package-initramfs-tools
Version: 1.0
Section: kernel
Essential: Yes
Priority: standard
Codename: wheezy
Architecture: armhf
Installed-Size: 28000
Depends: busybox, udhcpc, udev, parted, btrfs-tools, klibc-utils 
Maintainer: mk01 <development@xbian.org>
Description: Initramfs handling tools.
